# Fichiers Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.pdb
*.egg
*.egg-info/
.eggs/

# Environnement virtuel (si vous utilisez un)
env/
venv/
ENV/
ENV.bak/
.venv/

# Configuration IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Fichiers générés par pip
pip-log.txt
pip-delete-this-directory.txt

# Django :
*.log
*.pot
*.py[cod]
db.sqlite3
db.sqlite3-journal

# Répertoires médias (chargés par les utilisateurs)
media/

# Répertoires statiques collectés
staticfiles/
static/

# Configuration de la base de données locale
/local_settings.py
/local_settings.json

# Fichiers de migration
**/migrations/*.py
**/migrations/*.pyc
# Garde le fichier __init__.py dans les migrations pour les rendre utilisables
!**/migrations/__init__.py

# Node modules (si vous utilisez un projet Django avec du JavaScript/Node)
node_modules/

# Fichiers des tests de couverture
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Fichiers temporaires d'édition
*.swp
*.bak
*.tmp
*.orig
*.save

# Fichiers de production (comme les clés secrètes)
.env
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Rapport de test pytest
pytest_cache/
